<br/>
<div ng-controller="ContactController">
	<div class="row">
		<div class="col-md-12">
			Write some text in textbox:
			<input type="text" ng-model="sometext" />

			<h1>Hello {{ sometext }}</h1>

			<h4>Uppercase: {{ sometext | uppercase }}</h4>
			<h4>Lowercase: {{ sometext | lowercase }}</h4>
		</div>
	</div>

	<div class="row">
		<form>
			<div class="col-md-3">
				<label>Name</label>
				<input type="text" name="name" ng-model="newcontact.name" />
			</div>
			<div class="col-md-3">
				<label>Email</label>
				<input type="text" name="email" ng-model="newcontact.email" />
			</div>
			<div class="col-md-3">
				<label>Phone</label>
				<input type="text" name="phone" ng-model="newcontact.phone" />
			</div>
			<div class="col-md-3">

				<button ng-click="add()">
					Add New Contact
				</button>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<tr ng-repeat="contact in contacts">
					<td>{{contact.name}}</td>
					<td>{{contact.email}}</td>
					<td>{{contact.phone}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12">
			<input type="button" class="btn btn-primary" ng-click="showControl()" value="Show Hide Controls">
		</div>
	</div>
	<div class="row" ng-show="IsVisible" >
		<div class="col-md-12">
			<table class="table table-striped">
				<tr>
					<td>
					<input type="checkbox" ng-model="enableDisableButton">
					Disable
					Button</td>
					<td>
					<button ng-disabled="enableDisableButton">
						Click Me!
					</button></td>
				</tr>
				<tr>
					<td>
					<input type="checkbox" ng-model="showHide1">
					Show Button</td>
					<td>
					<button ng-show="showHide1">
						Click Me!
					</button></td>
				</tr>
				<tr>
					<td>
					<input type="checkbox" ng-model="showHide2">
					Hide Button</td>
					<td>
					<button ng-hide="showHide2">
						Click Me!
					</button></td>
				</tr>
				<tr>
					<td>
					<p>
						Total click: {{ clickCounter }}
					</p></td>
					<td>
					<button ng-click="clickCounter = clickCounter + 1">
						ClickMe!
					</button></td>
				</tr>

				<tr>
					<td>
					<p>
						You Selected :- {{selectedcar}}
					</p></td>
					<td>
					<select ng-model="selectedcar">
						<option ng-repeat="car in cars" value={{car.model}}>{{car.model}}</option>
					</select></td>
				</tr>

			</table>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12">
			<a class="btn btn-primary" href="#!/users">Back</a>
		</div>
	</div>
</div><!-- ContactController cnds -->